body {
    font-family: "DM Sans";
}

.andika-profile-picture{
    width: 100;
    height: 100;
    border-radius: 50%;
    object-fit: cover;
}

.andika-headline{
    font-weight:900;
    font-size: larger
}

.andika-subheadline{
    font-weight: bold;
}

.andika-centered-rectangle{
    display: flex;
    justify-content: center;
}

.andika-rectangle{
    width: 720;
    height: 60;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 35px;
    text-decoration: none;
}

.andika-rectangle:hover{
    background-color: whitesmoke;
    .andika-text-rectangle{
        color: black;
    }
}

.andika-text-rectangle{
    color: white;
}

.andika-logo-linktree{
    width: 120;
}